/*color variables*/

$x-light-gray: #E0E0E0;
$light-gray: #BDBDBD;
$active-gray: #000;
$med-gray: #828282;
$dark-gray: #030303;
$x-dark-gray: #4F4F4F;

$tint-gray: #f7f7f7;

$black-reg: #333333;

$backgorund-dark: #fff;
$backgorund-light: #F9FAFC;
$background-lighter: rgba(236, 239, 246, 0.3);

$blue-pri: #2F80ED;
$blue-sec: #2F47EF;

$purple-pri: #775aa8;
$purple-sec: #d49ec2;

$shadow-purple-bg: rgba(155, 81, 224, 0.4);
$shadow-blue-bg: rgba(47, 128, 237, 0.4);
$shadow-gray-bg: rgba(0, 0, 0, 0.08);
$shadow-yellow-bg: rgba(242, 201, 76, 0.08);

$green-pri: rgb(73, 217, 168);

$dark-grad-1: #0e1217;
$dark-grad-2: #212832;

$orange-grad-1: #f07146;
$orange-grad-2: #f7b435;

$green-grad-1: #68e3b4;
$green-grad-2: #58c8b0;

$pink-grad-1: #ed4a64;
$pink-grad-2: #ee533d;

$blue-green-grad-1: #4a9b9c;
$blue-green-grad-2: #5e3182;

$yellow-grad-1: rgb(255, 191, 66);
$yellow-grad-2: #F2D04A;

/*font size*/

$fs-sl: 48px;
$fs-xl: 24px;
$fs-l: 20px;
$fs-m: 18px;
$fs-sm: 16px;
$fs-xs: 14px;

$screen-sm: 420px;
$screen-md: 640px;
$screen-lg: 1260px;

$red-pri: rgb(216, 22, 63);


$reg-blue: #2e3745;
$dark-blue: #1c1f23;
$tint-blue: #062348;
$light-white: #cdcdcd;
$orange: #f6494e;
$sky-blue: #68e3f0;

$dark-bg: #151a21;
$text-green: #40b13e;
$text-black: #333;
$text-grey: #b4b4b4;



